WATSON_API_KEY=coloque_sua_api_key_aqui
WATSON_SERVICE_URL=https://api.us-south.assistant.watson.cloud.ibm.com/instances/seu_id
WATSON_ASSISTANT_ID=coloque_seu_assistant_id_aqui
WATSON_VERSION=2024-08-25